<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon> Home
  </button>

  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/contacts">Contacts</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/contacts">Contacts</button>
</mat-menu>

<router-outlet></router-outlet>
